body{
    font-family: "Chakra Petch", serif;
    margin: 10px;
    background-color: #00275A;


}
/*header stuff here*/
header {
background-color: #00275A;
padding: 1rem 10px;

}
header span {
color: #00f06a;
font-size:3rem;
font-weight: 700;
}


/*  navigation stuff*/
nav {
background-color: #7c17ef;
border-radius: 20px;

}
nav ul{
    margin: 0;
    padding: 0 10px;
    list-style-type:none;
    display: flex;
}
nav a {
display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color:#ffffff;
font-weight:700;
}

nav li.active a {
    background-color: #00f06a;
    border-radius: 15px;
    color:#000;
}

nav li a:hover{
color: white;

}
/*main stuff here*/
main {
    padding:1rem 10px;
}

main h1 {
    color: #7c17ef;
}

main h2 {
    color: #00f06a;
    margin-bottom: .2rem;
}

main h3 {
    color: #fff;
    margin-bottom: .2rem;
}

main p {
    margin: 0;
    color: #ffffff;
}

main ol {
    padding: .5rem 30px;
    background-color: #000;
    border-radius: 10px;
  
}
main ol li{color: #ffffff;
    margin-top: .5rem;
margin-bottom: .5rem;}
main dl dt {
color: #00f06a;
font-weight: 700;
margin-top: 1rem;
}
main dl dd {
color: #ffffff;
font-size: .9rem;
margin-left: 20px;
}
main ul {
    list-style-type: circle;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
    color: #ffffff;
}
main strong {
    font-weight: 700;
    color: #00f06a;
}
main em {
    font-weight: 500;
}
main i {
    font-weight: 300; 
}
main address{
    font-style: normal;
    background-color: #000;
    color: #ffffff;
    padding: .5rem;
    border-radius: 10px;
    border: 3px solid #7c17ef;
    width: 200px;
}
main a {
    color: #7c17ef;
}
main a:hover{
    color:#00f06a;
}


/*footer stuff here*/
footer {
    background-color: #000;
    text-align: center;
    padding: .8rem 0;
    font-size: .8rem;
    color: #00f06a;
    border-radius: 5px;
}
footer p {
    margin: 0;
letter-spacing: 3px;
}